html {
	height: 100%;
	box-sizing: border-box;
	font-size: 60%;
}

body {
	background: linear-gradient(grey, black, grey, red, grey, black, grey); /* Standard syntax */
	position: relative;
	margin: 0;
	padding-bottom: 4rem;
	min-height: 100%;
	font-size: 1.8rem;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

main h1 {
	text-align: center;
	color: white;
	padding-top: 5%;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #111;
	color : white;
	text-align: center;
}

.main-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	color: white;
	background: #222;
	height: 4rem;
	line-height: 4rem;
}

.main-header h1 {
	float: left;
	font-size: 2rem;
	margin: 0 0 0 2rem;
	text-transform: uppercase;
}

.main-header nav {
	float: right;
	font-size: 1.4rem;
}

.main-header nav ul {
	margin: 0;
	padding: 0;
}

.main-header nav li {
	display: inline-block;
	padding: 0 2rem;
	border-left: .1rem solid #555;
}

.main-header a {
	color: white;
}

main {
  padding: 0;
}

.login {
  width: 400px;
  margin: 200px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #111;
}

.login-header {
  background: #111;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: grey;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #111;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #555;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #black;
}

/* form class */

.form {
  width: 400px;
  margin: 5em auto;
  font-size: 16px;
}

.form-header,
.form p {
  margin-top: 0;
  margin-bottom: 0;
}

.form-header {
  background: #D00;
  padding: 20px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.form-container {
  background: #111;
  padding: 12px;
}

.form p {
  padding: 12px;
}

.form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.price input {
	width: 90%;
}

.form input[type="text"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* item class */

.items {
	display: flex;
	flex-wrap: wrap;
}

.item {
  width: 20em;
  margin: 2em auto;
  font-size: 16px;
}

.item-header,
.item p {
  margin-top: 0;
  margin-bottom: 0;
}

.item img{
  width: 100%;
  margin: 10% auto;
}

.item-header {
  background: #F00;
  padding: 20px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.item-description {
  color: #fff;
}

.item-price {
	background-color: #C00;
	color: #fff;
	text-align: center;
	padding: 0;
}

.item-container {
  background: #111;
  padding: 12px;
}

.item p {
  padding: 12px;
}

.item input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1em red solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.item input[type="submit"] {
  color: #fff;
	background: #555;
  cursor: pointer;
}

.item input[type="submit"]:hover {
  background: #333;
}

/* Buttons' focus effect */
.item input[type="submit"]:focus {
  border-color: #black;
}

.remove-item h2{
	background-color: #eee;
	width: 30%;
	margin: 0 auto;
	text-align: center;
}


.tab {
	width: 36em;
	margin: 2em;
}

.tab table {
	/*width: 100%;*/
	border-collapse: collapse;
	border-bottom: 1px solid #ccc;
	border-spacing: 0;
}

.tab table tr{

  background: #f5f5f5;

}

.tab table caption {
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 4px;
}

.tab table th {
	text-align: left;
	padding: 5px;
	background: #08c;
	color: #fff;
	border-left: 1px solid;
}

.tab table td {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.tab table td input {
	font: 1em Arial, sans-serif;
	border: 1px solid #ccc;
	background: #fff;
}

.tab div {
	margin: 1em 0;
	text-align: center;
}

.tab div button {
	padding: 0.3em 1.2em;
	background: #08c;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	margin-right: 0.5em;
	border: none;
	font: 1em Arial, sans-serif;
}



.tab div input {
	border: none;
	padding: 0.3em 1.2em;
	background: #08c;
	color: #fff;
	display: inline-block;
	font: 1em Arial, sans-serif;
}

.tab a {
	color: #fff;
	display: inline-block;
	font: 1em Arial, sans-serif;
	text-decoration: none;
}

h3 {
	margin-top: 50px;
	margin-bottom: : 0;
	color: white;
}
